<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFTP - <%= title %></title> 
    <link rel="stylesheet" href="/css/login.css">
</head>
<body> 
    <div class="container"> 
        <div class="col-12 card-box">
            <h2>LOGIN SFTP</h2>
            <form action="/login" method="post" id="form">
                <div class="step-username">
                    <input type="text" class="username form-control" id="username" name="username" placeholder="masukan username" autofocus autocomplete="off">  
                    <input type="password" class="username form-control" id="password" name="password" placeholder="masukan Password">
                    <div class="d-box">
                        <button type="button" class="btn btn-next click" data-next="step-reset">Reset</button>
                        <button type="button" class="btn btn-next click" data-next="step-login">SigIn</button>
                    </div>
                </div>
            </form>
        </div> 
        <div class="background-default"></div>
    </div>  
    <script src="/js/login.js"></script>
</body>
</html>