<div class="row"> 
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="btn btn-primary" href="javascript:void(0)">
                    Purchase Order
                </a>
            </li>
            <li>
                <a class="btn btn-primary" href="javascript:void(0)">
                    Purchase Order
                </a>
            </li>
            <li>
                <a class="btn btn-primary" href="javascript:void(0)">
                    Purchase Order
                </a>
            </li>
            <li>
                <a class="btn btn-primary" href="javascript:void(0)">
                    Purchase Order
                </a>
            </li>
            <li>
                <a class="btn btn-primary" href="javascript:void(0)">
                    Purchase Order
                </a>
            </li>
            <li>
                <a class="btn btn-primary" href="javascript:void(0)">
                    Purchase Order
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Hellow World</h4>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quidem, sed animi ad facilis ab corrupti aut enim, nesciunt excepturi eveniet ducimus voluptate in nostrum, culpa vitae ex rerum tempora!
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <h1>Hellow World</h1>
        </div>
    </div>
</div>
 
 